body {
  background: #eee;
}
.form-group {
  position: relative;
}
.alert {
  position: absolute;
  top: 22px; left: -120px;
  width: 110px;
  display: none;
  padding: 4px 6px;
}
#myTable tbody tr td {
  position: relative;
}
#myTable thead tr th {
  cursor: pointer;
  position: relative;
}
.delBtn {
  font-size: 18px;
  position: absolute;
  right: 14px; top: 14px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.4;
}
.delBtn:hover {
  opacity: 1;
}
.searchIcon {
  position: absolute;
  top: 18px; left: 10px;
  font-size: 18px;
  opacity: 0.4;
}
#myInput {
  padding-left: 34px;
}
.down::after {
  content: "";
  position: absolute;
  margin-left: 6px;
  top: 22px;
  width: 0; height: 0;
  border-width: 5px 5px 5px; 0;
  border-style: solid;
  border-color: #666 transparent transparent transparent;
}
.up::after {
  content: "";
  position: absolute;
  margin-left: 6px;
  top: 22px;
  width: 0; height: 0;
  border-width: 0 5px 5px 5px;
  border-style: solid;
  border-color: transparent transparent #666 transparent;
}
#modal {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: rgba(0,0,0,0.2);
  display: none;
  z-index: 10;
}
#modal-content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
}
.descr {
  margin-top: 40px;
}
